@model IEnumerable<ORM_EFcore.Models.Product>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-6">
        <h1>Category Table</h1>
        <partial name="_StatusMessage" model="@ViewData["Message"]" />
    </div>
    <div class="col-6">
        <a asp-controller="Products" asp-action="Create" class="btn btn-success">Create New Product</a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in @Model)
    {
        <tr>
            <th scope="row">@obj.Id</th>
            <td>@obj.Name</td>
            <td>@obj.Price</td>
            <td>
                <a asp-controller="Products" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Update</a>
                <a asp-controller="Products" onclick="confirm('Do you want to delete')" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>